node_modules
dist
.DS_Store
*.log
.env
.env.local
.vscode
coverage
.turbo

# pnpm
.pnpm-store

# build outputs
apps/*/dist
apps/*/.next
packages/*/dist

# uploads
.uploads/

# Docker
.docker/

# IDE
.idea
*.swp
*.swo
*.tsbuildinfo
apps/*/vite.config.d.ts
